/* center page (optional) */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 80px;
}

/* HEART SHAPE */
.heart {
  position: relative;
  width: 100px;
  height: 90px;
  margin: 40px auto;
  background: red;
  transform: rotate(-45deg);
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 90px;
  background: red;
  border-radius: 50%;
}

.heart::before {
  top: -50px;
  left: 0;
}

.heart::after {
  left: 50px;
  top: 0;
}
